/*
 *  Color scheme from:
 *  https://kuler.adobe.com/Alices-Summer-Colors-color-theme-4168551/
 */
body {
	font-size: 2em;
	color: #FFF9C8;
	background-color: #FFF9C8;
}

div.container {
	padding-bottom: 50px;
}

form {
	background-color: #18B29D;
}

form > div {
	padding: 10px;
	margin: 10px;
	border: 8px dotted #FFA68F;
	transition: 0.25s;
}

form > div:hover {
	border: 8px dotted #B5EBB9;
}

label, input, textarea {
	width: 90%;
	display: block;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding-bottom: 20px;
}

input[type="submit"] {
	width: 200px;
	margin: 10px auto;
}

input[type="radio"] {
	width: 20px;
}

h2, label, form {
	font-family: 'Lobster', cursive;
}

input, textarea {
	font-family: 'Droid Sans', sans-serif;		
	background-color: #B5EBB9;
	font-size: 0.8em;
}

form, input, textarea {
	border-radius: 10px;	
}

input, textarea {
	border: none;
	outline: 0;
	transition: 0.5s;
}

input, textarea, p {
	padding: 10px;	
}

input:hover, textarea:hover {
	border: 4px solid #FFA68F;
}

label {
	margin-top: 0.5em;
}

.required {
	color: #FF4867;
}

.sex {
	display: inline;
	margin-bottom: 1em;
}

